{% extends 'base.html.twig' %}

{% block title %}Publisher{% endblock %}

{% block body %}
    <h1>Publisher</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publisher.id }}</td>
            </tr>
            <tr>
                <th>CompanyName</th>
                <td>{{ publisher.companyName }}</td>
            </tr>
            <tr>
                <th>CompanyAddress</th>
                <td>{{ publisher.companyAddress }}</td>
            </tr>
            <tr>
                <th>CompanyPhoneNumber</th>
                <td>{{ publisher.companyPhoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('publisher_index') }}">back to list</a>

    <a href="{{ path('publisher_edit', {'id': publisher.id}) }}">edit</a>

    {{ include('publisher/_delete_form.html.twig') }}
{% endblock %}
